<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sales Analytics</title>
</head>

<body>

    <h1>Sales Analytics Dashboard</h1>

    <p>Upload your sales dataset</p>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="file" accept=".csv,.xlsx">

        <button type="submit">
            Upload Dataset
        </button>

    </form>

</body>

</html>